*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: rgb(237,242,250);
    font-family: 'Saira';
}
/***********Mobile View***********/
.welcome{
	background:rgba(0,0,0,1);
	font-size: 23px;
	padding:1%;
	color:white;
	animation-name: startpoint;
	animation-duration: 7s;
        -webkit-animation-name: startpoint;
        -webkit-animation-duration: 7s;
        -moz-animation-name: startpoint;
        -moz-animation-duration: 7s;
    font-family:'Bungee';
}
@keyframes startpoint{
	from{color:grey;}
	to{color:white;}
}
header{
	background: url("back.png");
	background-attachment: fixed; 
	width:100%;
	height: 10%;
	padding: 3%;
	box-shadow: 0px 1px 2px #000;
	display: block;
    font-family: 'Saira';
}
label{
	display: inline-block;
	width: 100%;
	text-align: left;
}
label img{
	background: inherit;
}
ul{
	list-style: none;
	text-align: center;
	padding-right: 30px; 
	display: none;
}
ul li{
	padding: 10px 0px 10px 0;
}
ul li a{
	text-decoration: none;
	color:#fff;
	animation-name: homination;
	animation-duration: 2s;
        -webkit-animation-name: homination;
        -webkit-animation-duration: 2s;
        -moz-animation-name: homination;
        -moz-animation-duration: 2s;
}
@keyframes homination{
	from{color:grey; border-bottom: inherit;}
	to{color:#fff;}
}
@-webkit-keyframes homination{
	from{color:grey; border-bottom: inherit;}
	to{color:#fff;}
}
@-moz-keyframes homination{
	from{color:grey; border-bottom: inherit;}
	to{color:#fff;}
}
input[type=checkbox]{
	display: none;
}
input[type=checkbox]:checked ~ ul{
	display: block;
}
.second-div img{
		width: 100px;
		height: 100px;
		background: #000;
		border-radius: 100%;
		margin-top:1%;
		transition: transform 1s;
		border:4px solid rgb(237,242,250);
		animation-name:rollercoster;
		animation-duration: 3s;
            -webkit-animation-name:rollercoster;
            -webkit-animation-duration: 3s;
            -moz-animation-name:rollercoster;
            -moz-animation-duration: 3s;
	}
	@keyframes rollercoster{
		from{
                -webkit-transition: transform 10s;/*Safari*/
                -webkit-transform: rotateZ(-360deg);
                -moz-transition: transform 10s;/*Mozilla*/
                -moz-transform: rotateZ(-360deg);
			transition: transform 10s;
			transform: rotateZ(-360deg);
			background: rgb(66,103,178);
			border-radius: 10%;
			box-shadow: 2px 2px 1px grey;
		}
		to{
			transition: none;
			transform: none;
			    -webkit-transition: none;
                -webkit-transform: none;
                -moz-transition: none;
                -moz-transform: none;
            background: black;
		}
	}
    @-webkit-keyframes rollercoster{
		from{
                -webkit-transition: transform 10s;/*Safari*/
                -webkit-transform: rotateZ(-360deg);
                -moz-transition: transform 10s;/*Mozilla*/
                -moz-transform: rotateZ(-360deg);
			transition: transform 10s;
			transform: rotateZ(-360deg);
			background: rgb(66,103,178);
			border-radius: 10%;
			box-shadow: 2px 2px 1px grey;
		}
		to{
			transition: none;
			transform: none;
			    -webkit-transition: none;
                -webkit-transform: none;
                -moz-transition: none;
                -moz-transform: none;
            background: inherit;
		}
	}
    @-moz-keyframes rollercoster{
		from{
                -webkit-transition: transform 10s;/*Safari*/
                -webkit-transform: rotateZ(-360deg);
                -moz-transition: transform 10s;/*Mozilla*/
                -moz-transform: rotateZ(-360deg);
			transition: transform 10s;
			transform: rotateZ(-360deg);
			background: rgb(66,103,178);
			border-radius: 10%;
			box-shadow: 2px 2px 1px grey;
		}
		to{
			transition: none;
			transform: none;
			    -webkit-transition: none;
                -webkit-transform: none;
                -moz-transition: none;
                -moz-transform: none;
            background: inherit;
		}
	}
	.second-div img:hover{
        transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
    }
hr{
    width:50%;
    height:7px;
    animation-name:hrline;
    animation-duration:3s;
        -webkit-animation-name:hrline;
        -webkit-animation-duration:3s;
        -moz-animation-name:hrline;
        -moz-animation-duration:3s;
}
@keyframes hrline{
    from{
        background:blue;
        margin-left:-50%;
    }
    to{
        background:inherit;
        margin-left:25%;
    }
}
    @-webkit-keyframes hrline{
        from{
            margin-left:-50%;
            background: blue;
        }
        to{
            background:inherit;
            margin-left:25%;
        }
    }
    @-moz-keyframes hrline{
        from{
            background:blue;    
            margin-left:-50%;
        }
        to{
            background:inherit;
            margin-left:25%;
        }
    }
.name{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 3%;
}
.name a{
	text-decoration: none;
	color: #000;
    animation-name: startimation;
	animation-duration: 6s;
        -moz-animation-name: startimation; /*Mozilla support*/
        -moz-animation-duration: 6s; /*Mozilla support*/
        -webkit-animation-name: startimation; /*Safari support*/
    	-webkit-animation-duration: 6s; /*Safari support*/
    font-family: Amita;
}
@keyframes startimation{
	from{color:rgb(237,242,250);}
	to{color:#000;}
}
/* For Safari*/
@-webkit-keyframes startimation{
	from{color:rgb(237,242,250);}
	to{color:#000;}
}
/* For Mozilla*/
@-moz-keyframes startimation{
	from{color:rgb(237,242,250);}
	to{color:#000;}
}
.description fieldset{
	margin:5%;
	padding: 4%;
	background: url("background.jpg");
	color:rgb(237,242,250);
	font-size: 15px;
	box-shadow: 2px 1px 2px #000;
    font-family: 'Norican'
}
.description fieldset legend{
	border: 1px solid white;
	font-weight: bold;
	border-radius: 7%;
	margin-top: 10%;
	background: #000;
}
.description fieldset q{
	font-weight: bold;
    font-family: 'Cursive';
}
.scrollTop{
	margin-left: 60%;
	border:1px solid rgb(32,82,213);
	padding:1%;
    border-radius:5%;
    width:7%;
}
.scrollTop a{
    text-decoration: none;
	color: rgb(32,82,213);
    font-weight:bold;
}
footer{
    margin-top: 5%;
	width: 100%;
	text-align: left;
	background: linear-gradient(to top, rgb(66,103,178), rgb(237,242,250));
	padding:1%; 
	display: flex;
	flex-direction: column;
}
footer .first-footer{
	display: block;
	width: 100%;
	text-align: left;
}
footer .first-footer .first-class{
    margin-bottom:-4px;
    width:20px;
    height:20px;
}
footer p{
	text-align: center
}
/*************Desktop View***************/
@media screen and (min-width: 870px){
	body{
		width:100%;
	}
	.welcome{
        font-size: 30px;
    }
	header{
		width: 100%;
		height:400px;
	}
	header ul li a{
		display: inline;
		color:#fff;
		margin-left:4%;
		padding:1%;
		background: none;
		font-size:20px;
	}
	header a:hover{
		color:rgb(195,195,195);
		border-bottom: 3px solid rgb(195,195,195); 
	}
	header input{
		display: none;
	}
	header label{
		display: none;
	}
	header ul{
		display: inline;
	}
	header ul li{
		display: inline;
	}
	header ul li .checked{
		border-bottom: 3px solid rgb(195,195,195);
	}
	.second-div img{
		margin-top:-3%;
		width: 150px;
		height: 150px;
	}
	.name{
		font-size: 30px;
	}
	.description fieldset{
		font-size: 20px;
	}
	.scrollTop{
		margin-left: 80%;
        transition:transform 1s;
            -webkit-transition:transform 1s;
            -moz-transition:transform 1s;
	}
    .scrollTop:hover{
        transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
    }
    footer{
    	font-family: 'Saira';
    }
}